<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>WordPress Plugin Boilerplate Generator | Ready to use WordPress Plugin Boilerplate</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-plug"></span>
				<h1>WordPress Plugin Boilerplate<br> Generator</h1>
				<h2>Based on the <a href="http://wppb.io/" title="WordPress Plugin Boilerplate by Tom McFarlin">WPPB by Tom McFarlin</a></h2>
				<p>Stop wasting time searching and replacing text strings manually.</p>

			</div>

		<!-- Main -->
			<div id="main">

				<header class="major container 75%">
					<h2>You only need to type your plugin
					<br />
					details in the form below
					<br />
					and a zip file will be generated</h2>
				</header>

				<div class="box container">
					<header>
						<h2>Create your amazing wppb based plugin</h2>
					</header>
					<section>
						<form method="POST" action="/" id="wppb-form">
							<div class="row">
								<div class="6u 12u(3)">
									<label for="name">Plugin Name</label>
									<input class="text" type="text" name="name" id="name" value="" placeholder="Your amazing plugin" data-validation="required" />
								</div>
								<div class="6u 12u(3)">
									<label for="slug">Plugin Slug</label>
									<input class="text" type="text" name="slug" id="slug" value="" placeholder="your-amazing-plugin" data-validation="required" />
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<label for="uri">Plugin URI</label>
									<input class="text" type="text" name="uri" id="uri" value="" placeholder="Your Plugin URI" data-validation="required" data-validation="url" />
								</div>
							</div>
							<div class="row">
								<div class="6u 12u(3)">
									<label for="author-name">Author Name</label>
									<input class="text" type="text" name="author[name]" id="author-name" value="" placeholder="Your name" data-validation="required" />
								</div>
								<div class="6u 12u(3)">
									<label for="author-email">Author Email</label>
									<input class="text" type="email" name="author[email]" id="author-email" value="" placeholder="your@email.tld" data-validation="required"  data-validation="email"/>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<label for="author-uri">Author URI</label>
									<input class="text" type="text" name="author[uri]" id="author-uri" value="" placeholder="http://yoursite.tld" data-validation="required" data-validation="url" />
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Build" /></li>
										<li><input type="reset" value="Reset" class="alt" /></li>
									</ul>
								</div>
							</div>
						</form>
					</section>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container 75%">
					<ul class="icons">
						<li><a href="https://twitter.com/tmeister" class="icon fa-twitter" title="Follow me"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/Tmeister/wppb-gen-site" class="icon fa-github" title="Fork this site"><span class="label">Github</span></a></li>
						<li><a href="https://www.facebook.com/ecdevelopment" class="icon fa-facebook" title="Find me in Facebook"><span class="label">Facebook</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; <%= new Date().getFullYear()  %> <a href="http://enriquechavez.co">Enrique Chavez</a>.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-56742268-1', 'auto');
			  ga('send', 'pageview');

			</script>
	</body>
</html>